.venv/
__pycache__/
*.pyc

learning/data/uploads/
mmbi/learning/data/uploads/

learning/data/sessions/
mmbi/learning/data/sessions/

learning/data/reports/
mmbi/learning/data/reports/

*.pt
*.pth
*.h5

.env